<div>
    <div>
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4 class="modal-title">Buscar trabajador</h4>
        </div>
        <form name="formSearchCuentaBancaria" ng-submit="getPagedDataSearched()" novalidate>
            <div class="modal-body">
                <div class="row">
                    <form name="formBuscar" ng-submit="getPagedDataSearched()" novalidate>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input focus-on="focusFilterText" type="text" name="filterText" class="form-control" ng-model="filterOptions.filterText" placeholder="N&uacute;mero Documento / Socio" capitalize autofocus>
                                    <span class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div  ng-grid="gridOptions" style="border: 1px solid rgb(212,212,212); height: 393px; font-size: 12px"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-primary" ng-click="ok()">Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div>