<div ng-controller="EditarCajaController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        <span ng-bind-html="alert.msg"></span>
    </alert>
    <fieldset>
        <legend style="padding-bottom: 5px;">
            <div class="row">
                <div class="col-sm-6">
                    Caja
                    <span ng-if="!caja.estado" class="label label-danger">Caja Inactiva</span>
                </div>
                <div class="col-sm-6" ng-if="caja.estado" style="text-align: right;font-size: 14px;">
                    <button type="button" ng-click="abrirCaja()" class="btn btn-success">Abrir</button>

                    <div class="btn-group">
                        <button type="button" ng-click="congelarCaja()" ng-disabled="!caja.estadoMovimiento" class="btn btn-sm btn-danger">Congelar</button>
                        <button type="button" ng-click="descongelarCaja()" ng-disabled="caja.estadoMovimiento" class="btn btn-sm btn-info">Descongelar</button>
                    </div>

                </div>
            </div>
        </legend>
    </fieldset>

    <div class="row">
        <div class="col-sm-12">
            <h3>Editar Caja</h3>
        </div>
    </div>
    <div class="row">
        </br>
        <div class="col-sm-6">
            <form name="crearCajaForm" ng-submit="crearTransaccion()" novalidate>
                <div class="form-group">
                    <label>Agencia</label>
                    <input type="text" ng-model="agenciaSession.denominacion" class="form-control" disabled>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : crearCajaForm.denominacion.$invalid && (control.submitted || crearCajaForm.denominacion.$dirty)}">
                    <label>Denominaci&oacute;n</label>
                    <input focus-on="focusDenominacion" name="denominacion" type="text" ng-model="view.denominacion" ng-minlength="1" ng-maxlength="40" class="form-control" placeholder="Denominacion" capitalize required/>
                    <div ng-show="crearCajaForm.denominacion.$invalid && (control.submitted || crearCajaForm.denominacion.$dirty)">
                        <p class="help-block" ng-show="crearCajaForm.denominacion.$error.required">
                            Ingrese Denominaci&oacute;n.
                        </p>
                        <p class="help-block" ng-show="crearCajaForm.denominacion.$error.minlength">
                            Minimo 1 Caracter.
                        </p>
                        <p class="help-block" ng-show="crearCajaForm.denominacion.$error.maxlength">
                            Maximo 40 Caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : crearCajaForm.abreviatura.$invalid && (control.submitted || crearCajaForm.abreviatura.$dirty)}">
                    <label>Abreviatura</label>
                    <input name="abreviatura" type="text" ng-model="view.abreviatura" ng-minlength="1" ng-maxlength="10" class="form-control" placeholder="Abreviatura" capitalize required/>
                    <div ng-show="crearCajaForm.abreviatura.$invalid && (control.submitted || crearCajaForm.abreviatura.$dirty)">
                        <p class="help-block" ng-show="crearCajaForm.abreviatura.$error.required">
                            Ingrese Denominaci&oacute;n.
                        </p>
                        <p class="help-block" ng-show="crearCajaForm.abreviatura.$error.minlength">
                            Minimo 1 Caracter.
                        </p>
                        <p class="help-block" ng-show="crearCajaForm.abreviatura.$error.maxlength">
                            Maximo 10 Caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Estado</label>
                    <input type="text" value="Activo, Cerrado, Congelado" class="form-control" disabled>
                </div>
                <div class="form-group" style="width: 140%">
                    <label>Bovedas</label>
                    <picklist name="pkl" size="10" data-pick-options="v.id as v.denominacion for v in picklist.boveda" data-picklist="view.bovedas" data-pick-model="view.bovedas" required>
                    </picklist>
                    <div ng-show="crearCajaForm.pkl.$invalid && (control.submitted || crearCajaForm.pkl.$dirty)">
                        <p class="help-block" ng-show="crearCajaForm.pkl.$error.required">
                            Seleccione por lo menos una boveda.
                        </p>
                    </div>
                </div>

                <button type="submit" ladda="control.inProcess" data-style="expand-right" class="btn btn-primary">Guardar</button>
                <button type="button" ng-click="cancelar()" class="btn btn-default">Cancelar</button>
            </form>
        </div>
        <div class="col-sm-6">
            </br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Trabajadores Asignados
                        <button type="button" ng-click="openBuscarTrabajador()" class="btn btn-link">Nuevo</button>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Trabajador</th>
                            <th>Usuario</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="trabajador in trabajadores">
                            <td>
                                <span ng-bind="trabajador.personaNatural.apellidoPaterno"></span>&nbsp;
                                <span ng-bind="trabajador.personaNatural.apellidoMaterno"></span>,&nbsp;
                                <span ng-bind="trabajador.personaNatural.nombres"></span>
                            </td>
                            <td>
                                <span ng-bind="trabajador.usuario"></span>
                            </td>
                            <td>
                                <button type="button" ng-click="eliminarTrabajador($index)" class="btn btn-danger btn-xs">Del</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>