<div ng-controller="BuscarGirosController">

  <fieldset>
    <legend>Transacci&oacute;n de Giros</legend>
    <button type="button" class="btn btn-primary" ng-click="nuevo()">Emisi&oacute;n de Giros</button>

    <div class="btn-group" style="float: right;">
      <label class="btn btn-sm btn-default" ng-model="estadoGiro" btn-radio="'ENVIADO'">POR COBRAR</label>
      <label class="btn btn-sm btn-default" ng-model="estadoGiro" btn-radio="'COBRADO'">COBRADOS</label>
      <!--<label class="btn btn-primary" ng-model="estadoGiro" btn-radio="'CANCELADO'">CANCELADOS</label>-->
    </div>
    
  </fieldset>
  <br/>

  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
  </alert>

  <div class="row">
    <div class="col-sm-12">
      <tabset>
        <tab heading="Giros">
          <div ng-grid="gridOptionsEnviados" style="border: 1px solid rgb(212,212,212); width: 100%; height: 300px; font-size: 10px;"></div>
        </tab>
        <tab heading="Cobro de Giros">
          <div ng-grid="gridOptionsRecibidos" style="border: 1px solid rgb(212,212,212); width: 100%; height: 300px; font-size: 10px;"></div>
        </tab>
      </tabset>
    </div>
  </div>

</div>
