<div ng-controller="CrearTransaccionChequeController">
    <fieldset>
        <legend>Transacci&oacute;n Cheque</legend>

        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            <span ng-bind="alert.msg"></span>
        </alert>

        <form name="form" ng-submit="crearTransaccion()" novalidate>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-weight: bold;">Datos de la Transacci&#243;n</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error' : form.numeroCheque.$invalid && (control.submitted || form.numeroCheque.$dirty)}">
                                        <label>N&uacute;mero Cheque</label>
                                        <label style="color: brown;">(*)</label>
                                        <div class="input-group">
                                            <input focus-on="focusNumeroCheque" type="text" name="numeroCheque" ng-model="view.numeroCheque" ui-keypress="{13:'buscar($event)'}" class="form-control" placeholder="N&uacute;mero de Cheque" required/>
                                              <span class="input-group-btn">
                                                <button focus-on="focusBuscarCheque" type="button" class="btn btn-default" ng-click="buscar()" autofocus>
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                              </span>
                                        </div>
                                        <div ng-show="form.numeroCuenta.$invalid && (control.submitted || form.numeroCuenta.$dirty)">
                                            <p class="help-block" ng-show="form.numeroCuenta.$error.required">
                                                Ingrese N&uacute;mero de cheque.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>N&#250;mero Cheque</label>
                                        <h5><span style="color: blue; font-weight: bold;" ng-bind="cheque.numeroCheque"></span></h5>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <h5><span style="color: blue; font-weight: bold;" ng-bind="cheque.estado"></span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error' : form.tipoDocumento.$invalid && (control.submitted || form.tipoDocumento.$dirty)}">
                                      <label>Tipo Documento</label>
                                      <label style="color: brown;">(*)</label>
                                      <select name="tipoDocumento" ng-options="tipoDocumento as tipoDocumento.abreviatura for tipoDocumento in combo.tipoDocumentos | orderBy : 'id'" ng-model="view.tipoDocumento" class="form-control" required>
                                        <option value="">--Seleccione--</option>
                                      </select>
                                      <div ng-show="form.tipoDocumento.$invalid && (control.submitted || form.tipoDocumento.$dirty)">
                                        <p class="help-block" ng-show="form.tipoDocumento.$error.required">
                                          Seleccione Tipo Documento.
                                        </p>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error' : form.numeroDocumento.$invalid && (control.submitted || form.monto.$dirty)}">
                                        <label>N&#250;mero Documento</label>
                                        <label style="color: brown;">(*)</label>
                                        <input type="text" name="numeroDocumento" ng-model="view.numeroDocumento" ui-keypress="{13:'buscarPersona($event)'}" ng-minlength="1" ng-maxlength="18" class="form-control" placeholder="N&#250;mero documento" required/>
                                        <div ng-show="form.tipoDocumento.$invalid && (control.submitted || form.monto.$dirty)">
                                            <p class="help-block" ng-show="form.numeroDocumento.$error.required">
                                                Ingrese numero documento.
                                            </p>
                                            <p class="help-block" ng-show="form.numeroDocumento.$error.minlength">
                                                Numero numero documento.
                                            </p>
                                            <p class="help-block" ng-show="form.numeroDocumento.$error.maxlength">
                                                Ingrese numero documento.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error' : form.persona.$invalid && (control.submitted || form.monto.$dirty)}">
                                        <label>Persona</label>
                                        <label style="color: brown;">(*)</label>
                                        <input type="text" name="persona" ng-model="view.persona" ng-minlength="1" ng-maxlength="130" class="form-control" placeholder="Persona" capitalize required/>
                                        <div ng-show="form.persona.$invalid && (control.submitted || form.monto.$dirty)">
                                            <p class="help-block" ng-show="form.persona.$error.required">
                                                Ingrese persona.
                                            </p>
                                            <p class="help-block" ng-show="form.persona.$error.minlength">
                                                Ingrese persona.
                                            </p>
                                            <p class="help-block" ng-show="form.persona.$error.maxlength">
                                                Ingrese persona.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error' : form.monto.$invalid && (control.submitted || form.monto.$dirty)}">
                                        <label>Monto</label>
                                        <label style="color: brown;">(*)</label>
                                        <div class="input-group">
                                            <input focus-on="focusMonto" type="text" name="monto" ng-model="view.monto" ng-minlength="1" ng-maxlength="18" ng-pattern="/^(\d+|\d+.\d{1,2})$/" class="form-control" placeholder="Monto" required/>
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openCalculadora()" ng-disabled="view.numeroCuenta === undefined">
                                                    <span class="glyphicon glyphicon-th-list"></span>
                                                </button>
                                              </span>
                                        </div>
                                        <div ng-show="form.monto.$invalid && (control.submitted || form.monto.$dirty)">
                                            <p class="help-block" ng-show="form.monto.$error.required">
                                                Ingrese monto valido.
                                            </p>
                                            <p class="help-block" ng-show="form.monto.$error.minlength">
                                                Numero invalido.
                                            </p>
                                            <p class="help-block" ng-show="form.monto.$error.maxlength">
                                                Ingrese menos caracteres.
                                            </p>
                                            <p class="help-block" ng-show="form.monto.$error.pattern">
                                                Numero invalido (Ejemplo: 99.99).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <kbd style="display: block;margin-top: 3px;">
                                            <span ng-bind="cuentaBancaria.moneda"></span>
                                            <span ng-bind="view.monto | number : 2"/>
                                        </kbd>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error' : form.observacion.$invalid && form.submitted}">
                                        <label>Observaci&#243;n</label>
                                        <textarea name="observacion" class="form-control" rows="3" ng-model="view.observacion" placeholder="Observacion" capitalize></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-disabled="buttonDisableState()" ladda="control.inProcess" data-style="expand-right">Aceptar</button>
                            <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 class="panel-title" style="font-weight: bold;">Cuenta Bancaria</h3></div>
                                <table class="table">
                                    <tr>
                                        <td style="font-weight: bold;">Cliente:</td>
                                        <td><span ng-bind="cuentaBancaria.socio"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Tipo y N&deg; Doc.:</td>
                                        <td><span ng-bind-template="{{cuentaBancaria.tipoDocumento}}/{{cuentaBancaria.numeroDocumento}}"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Tipo Cuenta:</td>
                                        <td><span ng-bind="cuentaBancaria.tipoCuenta"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">N&deg; Cuenta:</td>
                                        <td><span ng-bind="cuentaBancaria.numeroCuenta"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">
                                            <span class="visible-sm visible-lg">✔ Moneda:</span>
                                        </td>
                                        <td>
                                            <span class="label label-info">Info</span>
                                            <span ng-bind="cuentaBancaria.moneda"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Estado Cuenta:</td>
                                        <td><span ng-bind="cuentaBancaria.estadoCuenta"></span></td>
                                    </tr>
                                    <tr ng-if="cuentaBancaria.tipoCuenta == 'AHORRO'">
                                        <td style="font-weight: bold;">Saldo:</td>
                                        <td><span ng-bind="cuentaBancaria.saldo | currency : cuentaBancaria.moneda "></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Cantidad retirantes:</td>
                                        <td><span ng-bind="cuentaBancaria.cantidadRetirantes"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h3 class="panel-title" style="font-weight: bold;">Titulares</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text-right">
                                                <button type="button" ng-click="showFirmaTodos()" class="btn btn-link" style="padding: 0px 12px;">
                                                    Ver Firmas
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-condensed table-striped">
                                    <tr ng-repeat="titular in titulares | filter:{ estado: true }">
                                        <td><span ng-bind-template="{{titular.personaNatural.tipoDocumento.abreviatura}}/{{titular.personaNatural.numeroDocumento}}"></span></td>
                                        <td><span ng-bind-template="{{titular.personaNatural.apellidoPaterno}}&nbsp;{{titular.personaNatural.apellidoMaterno}}, {{titular.personaNatural.nombres}}"></span></td>
                                        <td>
                                            <button type="button" ng-click="showFirma($index)" class="btn btn-info btn-xs">
                                                <span class="glyphicon glyphicon-picture"></span> Firma
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </fieldset>
</div>
