<div ng-controller="CrearTransaccionSobreGiroController">
  <fieldset>
    <legend>Emisi&oacute;n de Sobre Giros</legend>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
      <span ng-bind="alert.msg"></span>
    </alert>


    <div class="row">
      <div class="col-sm-6">

        <form name="form" ng-submit="crearTransaccion()" novalidate>
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title" style="font-weight: bold;">Creaci&oacute;n de Sobre Giro</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group" ng-class="{ 'has-error' : form.tipoPersona.$invalid && control.submitted}">
                        <label>Tipo Persona</label>
                        <label style="color: brown;">(*)</label>
                        <select name="tipoPersona" ng-options="tipoPersona.denominacion as tipoPersona.denominacion for tipoPersona in combo.tipoPersonas" ng-model="view.tipoPersona" class="form-control" required autofocus>
                          <option value="">--Seleccione--</option>
                        </select>
                        <div ng-show="form.tipoPersona.$invalid && control.submitted">
                          <p class="help-block" ng-show="form.tipoPersona.$error.required">
                            Seleccione Tipo Persona.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group" ng-class="{ 'has-error' : form.tipoDocumento.$invalid && (control.submitted || form.tipoDocumento.$dirty)}">
                        <label>Tipo Documento</label>
                        <label style="color: brown;">(*)</label>
                        <select name="tipoDocumento" ng-options="tipoDocumento.id as tipoDocumento.abreviatura for tipoDocumento in combo.tipoDocumentos | orderBy : 'id'" ng-model="view.idTipoDocumento" class="form-control" required>
                          <option value="">--Seleccione--</option>
                        </select>
                        <div ng-show="form.tipoDocumento.$invalid && (control.submitted || form.tipoDocumento.$dirty)">
                          <p class="help-block" ng-show="form.tipoDocumento.$error.required">
                            Seleccione Tipo Documento.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group" ng-class="{ 'has-error' : form.numeroDocumento.$invalid && (form.numeroDocumento.$dirty || control.submitted)}">
                        <label>N&uacute;mero Documento</label>
                        <label style="color: brown;">(*)</label>
                        <div class="input-group">
                          <input focus-on="focusNumeroDocumento" type="text" name="numeroDocumento" ui-keypress="{13:'buscarSocio($event)'}" ng-model="view.numeroDocumento" ng-minlength="1" ng-maxlength="20" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="N&uacute;mero Documento" required/>
                     <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="buscarSocio()" >
                          <span class="glyphicon glyphicon-search"></span>
                        </button>
                     </span>
                        </div>
                        <div ng-show="form.numeroDocumento.$invalid && (control.submitted || form.numeroDocumento.$dirty)">
                          <p class="help-block" ng-show="form.numeroDocumento.$error.required">
                            Ingrese Numero Documento Valido.
                          </p>
                          <p class="help-block" ng-show="form.numeroDocumento.$error.minlength">
                            Minimo 1 Caracter.
                          </p>
                          <p class="help-block" ng-show="form.numeroDocumento.$error.maxlength">
                            Maximo 20 Caracteres.
                          </p>
                          <p class="help-block" ng-show="form.numeroDocumento.$error.pattern">
                            Numero Documento Invalido.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group" ng-class="{ 'has-error' : form.moneda.$invalid && (control.submitted || form.moneda.$dirty)}">
                        <label>Moneda</label>
                        <label style="color: brown;">(*)</label>
                        <select name="moneda" ng-options="moneda.id as moneda.denominacion for moneda in combo.moneda | orderBy : 'id'" ng-model="view.idMoneda" class="form-control" required>
                          <option value="">--Seleccione--</option>
                        </select>
                        <div ng-show="form.moneda.$invalid && (control.submitted || form.moneda.$dirty)">
                          <p class="help-block" ng-show="form.moneda.$error.required">
                            Ingrese moneda.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group" ng-class="{ 'has-error' : form.monto.$invalid && (control.submitted || form.monto.$dirty)}">
                        <label>Monto</label>
                        <label style="color: brown;">(*)</label>
                        <div class="input-group">
                          <span ng-bind="getTipoMoneda().simbolo" class="input-group-addon"></span>
                          <input type="text" name="monto" ng-model="view.monto" ng-minlength="1" ng-maxlength="18" ng-pattern="/^(\d+|\d+.\d{1,2})$/" class="form-control" placeholder="Monto" required/>
                        </div>
                        <div ng-show="form.monto.$invalid && (control.submitted || form.monto.$dirty)">
                          <p class="help-block" ng-show="form.monto.$error.required">
                            Ingrese monto.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group" ng-class="{ 'has-error' : form.tipoInteres.$invalid && (control.submitted || form.tipoInteres.$dirty)}">
                        <label>Tipo Interes</label>
                        <div class="radio">
                          <label class="radio-inline"><input type="radio" name="tipoInteres" ng-model="view.tipoInteres" value="FIJO">Monto Fijo</label>
                          <label class="radio-inline"><input type="radio" name="tipoInteres" ng-model="view.tipoInteres" value="PORCENTURAL">Porcentual</label>
                        </div>
                        <div ng-show="form.tipoInteres.$invalid && (control.submitted || form.tipoInteres.$dirty)">
                          <p class="help-block" ng-show="form.tipoInteres.$error.required">
                            Ingrese tipo.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group" ng-class="{ 'has-error' : form.interes.$invalid && (control.submitted || form.interes.$dirty)}">
                        <label>Monto de Interes</label>
                        <label style="color: brown;">(*)</label>
                        <div class="input-group">
                          <input type="text" name="interes" ng-model="view.interes" ng-minlength="1" ng-maxlength="18" ng-pattern="/^(\d+|\d+.\d{1,2})$/" class="form-control" placeholder="interes" required/>
                          <span class="input-group-addon" ng-if="view.tipoInteres == 'PORCENTURAL'">%</span>
                          <span class="input-group-addon" ng-if="view.tipoInteres == 'FIJO'"></span>
                        </div>
                        <div ng-show="form.interes.$invalid && (control.submitted || form.interes.$dirty)">
                          <p class="help-block" ng-show="form.interes.$error.required">
                            Ingrese interes.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8">
                      <div class="form-group" ng-class="{ 'has-error' : form.fechaLimitePago.$invalid && control.submitted}">
                        <label>Fecha pago</label>
                        <label style="color: brown;">(*)</label>
                        <div class="input-group">
                          <input type="date" name="fechaLimitePago" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="view.fechaLimitePago" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="dd/mm/yyyy" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="open($event)">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                        </div>
                        <div ng-show="form.fechaLimitePago.$invalid && control.submitted">
                          <p class="help-block" ng-show="form.fechanacimiento.$error.required">
                            Ingrese Fecha.
                          </p>
                          <p class="help-block" ng-show="form.fechaLimitePago.$invalid">
                            Fecha no Valida.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label style="color: blue; margin-top: 10px">RESUMEN</label>
                        <kbd style="display: block;margin-top: 1px;">
                          <p>
                            Monto a Sobre Girar:
                            <span ng-bind="getTipoMoneda().simbolo"></span>
                            <span ng-bind="transaccion.monto | currency : ''"/>
                          </p>
                          <p>
                            Interes:
                            <span ng-bind="getTipoMoneda().simbolo"></span>
                            <span ng-bind="transaccion.interes | currency : ''"/>
                          </p>
                        </kbd>
                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary" ng-disabled="buttonDisableState()" ladda="control.inProcess" data-style="expand-right">Aceptar</button>
                  <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>

                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title" style="font-weight: bold;">Cuenta Bancaria</h3></div>
              <table class="table">
                <tr>
                  <td style="font-weight: bold;">Tipo persona:</td>
                  <td><span ng-bind="socio.tipoPersona"></span></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Cliente:</td>
                  <td><span ng-bind="socio.socio"></span></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Tipo y N&deg; Doc.:</td>
                  <td><span ng-bind-template="{{socio.tipoDocumento}}/{{socio.numeroDocumento}}"></span></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </fieldset>
</div>

