<fieldset>
  <legend>Emisi&oacute;n de Sobre Giros</legend>

  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind="alert.msg"></span>
  </alert>


  <div class="row">
    <div class="col-sm-8" ng-controller="CrearTransaccionSobreGiroController">

      <form name="form" ng-submit="crearTransaccion()" novalidate>
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="font-weight: bold;">Creaci&oacute;n de Sobre Giro</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error' : form.tipoPersona.$invalid && control.submitted}">
                      <label>Tipo Persona</label>
                      <label style="color: brown;">(*)</label>
                      <select name="tipoPersona" ng-options="tipoPersona.denominacion as tipoPersona.denominacion for tipoPersona in combo.tipoPersonas" ng-model="view.tipoPersona" class="form-control" required autofocus>
                        <option value="">--Seleccione--</option>
                      </select>
                      <div ng-show="form.tipoPersona.$invalid && control.submitted">
                        <p class="help-block" ng-show="form.tipoPersona.$error.required">
                          Seleccione Tipo Persona.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error' : form.tipoDocumento.$invalid && (control.submitted || form.tipoDocumento.$dirty)}">
                      <label>Tipo Documento</label>
                      <label style="color: brown;">(*)</label>
                      <select name="tipoDocumento" ng-options="tipoDocumento.id as tipoDocumento.abreviatura for tipoDocumento in combo.tipoDocumentos | orderBy : 'id'" ng-model="view.idTipoDocumento" class="form-control" required>
                        <option value="">--Seleccione--</option>
                      </select>
                      <div ng-show="form.tipoDocumento.$invalid && (control.submitted || form.tipoDocumento.$dirty)">
                        <p class="help-block" ng-show="form.tipoDocumento.$error.required">
                          Seleccione Tipo Documento.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error' : form.numeroDocumento.$invalid && (form.numeroDocumento.$dirty || control.submitted)}">
                      <label>N&uacute;mero Documento</label>
                      <label style="color: brown;">(*)</label>
                      <div class="input-group">
                        <input focus-on="focusNumeroDocumento" type="text" name="numeroDocumento" ui-keypress="{13:'buscarPersonaSocio($event)'}" ng-model="view.numeroDocumento" ng-minlength="1" ng-maxlength="20" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="N&uacute;mero Documento" required/>
                     <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="buscarPersonaSocio()" >
                          <span class="glyphicon glyphicon-search"></span>
                        </button>
                     </span>
                      </div>
                      <div ng-show="form.numeroDocumento.$invalid && (control.submitted || form.numeroDocumento.$dirty)">
                        <p class="help-block" ng-show="form.numeroDocumento.$error.required">
                          Ingrese Numero Documento Valido.
                        </p>
                        <p class="help-block" ng-show="form.numeroDocumento.$error.minlength">
                          Minimo 1 Caracter.
                        </p>
                        <p class="help-block" ng-show="form.numeroDocumento.$error.maxlength">
                          Maximo 20 Caracteres.
                        </p>
                        <p class="help-block" ng-show="form.numeroDocumento.$error.pattern">
                          Numero Documento Invalido.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group" ng-class="{ 'has-error' : form.numeroDocumentoEmisor.$invalid && (control.submitted || form.numeroDocumentoEmisor.$dirty)}">
                      <label>(DNI) Emisor</label>
                      <input type="text" name="numeroDocumentoEmisor" ui-keypress="{13:'buscarClienteEmisor($event)'}" ng-model="view.numeroDocumentoEmisor" ng-minlength="1" ng-maxlength="20" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="DNI" autofocus/>
                      <div ng-show="form.numeroDocumentoEmisor.$invalid && (control.submitted || form.numeroDocumentoEmisor.$dirty)">
                        <p class="help-block" ng-show="form.numeroDocumentoEmisor.$error.required">
                          Ingrese Numero Documento Valido.
                        </p>
                        <p class="help-block" ng-show="form.numeroDocumentoEmisor.$error.minlength">
                          Minimo 1 Caracter.
                        </p>
                        <p class="help-block" ng-show="form.numeroDocumentoEmisor.$error.maxlength">
                          Maximo 20 Caracteres.
                        </p>
                        <p class="help-block" ng-show="form.numeroDocumentoEmisor.$error.pattern">
                          Numero Documento Invalido.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="form-group" ng-class="{ 'has-error' : form.nombreClienteEmisor.$invalid && (control.submitted || form.nombreClienteEmisor.$dirty)}">
                      <label>Apellidos y Nombres / Raz&oacute;n Social</label>
                      <label style="color: brown;">(*)</label>
                      <input type="text" name="nombreClienteEmisor" ng-model="view.nombreClienteEmisor" class="form-control" ng-minlength="1" ng-maxlength="200" placeholder="Apellidos y Nombres / Raz&oacute;n Social" required capitalize/>
                      <div ng-show="form.nombreClienteEmisor.$invalid && (control.submitted || form.nombreClienteEmisor.$dirty)">
                        <p class="help-block" ng-show="form.nombreClienteEmisor.$error.required">
                          Ingrese Apellidos y Nombres Validos.
                        </p>
                        <p class="help-block" ng-show="form.nombreClienteEmisor.$error.minlength">
                          Minimo 1 Caracter.
                        </p>
                        <p class="help-block" ng-show="form.nombreClienteEmisor.$error.maxlength">
                          Maximo 200 Caracteres.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : form.moneda.$invalid && (control.submitted || form.moneda.$dirty)}">
                      <label>Moneda</label>
                      <label style="color: brown;">(*)</label>
                      <select name="moneda" ng-options="moneda.id as moneda.denominacion for moneda in combo.moneda | orderBy : 'id'" ng-model="view.idMoneda" class="form-control" required>
                        <option value="">--Seleccione--</option>
                      </select>
                      <div ng-show="form.moneda.$invalid && (control.submitted || form.moneda.$dirty)">
                        <p class="help-block" ng-show="form.moneda.$error.required">
                          Ingrese moneda.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : form.monto.$invalid && (control.submitted || form.monto.$dirty)}">
                      <label>Monto a Girar</label>
                      <label style="color: brown;">(*)</label>
                      <div class="input-group">
                        <span ng-bind="getTipoMoneda().simbolo" class="input-group-addon"></span>
                        <input type="text" name="monto" ng-model="view.monto" ng-minlength="1" ng-maxlength="18" ng-pattern="/^(\d+|\d+.\d{1,2})$/" class="form-control" placeholder="Monto" required/>
                      </div>
                      <div ng-show="form.monto.$invalid && (control.submitted || form.monto.$dirty)">
                        <p class="help-block" ng-show="form.monto.$error.required">
                          Ingrese monto.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : form.tipoComision.$invalid && (control.submitted || form.tipoComision.$dirty)}">
                      <label>Tipo Comisi&oacute;n</label>
                      <div class="radio">
                        <label class="radio-inline"><input type="radio" name="tipoComision" ng-model="view.tipoComision" value="FIJO">Monto Fijo</label>
                        <label class="radio-inline"><input type="radio" name="tipoComision" ng-model="view.tipoComision" value="PORCENTURAL">Porcentual</label>
                      </div>
                      <div ng-show="form.tipoComision.$invalid && (control.submitted || form.tipoComision.$dirty)">
                        <p class="help-block" ng-show="form.tipoComision.$error.required">
                          Ingrese tipo.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : form.comision.$invalid && (control.submitted || form.comision.$dirty)}">
                      <label>Monto por Comisi&oacute;n</label>
                      <label style="color: brown;">(*)</label>
                      <div class="input-group">
                        <input type="text" name="comision" ng-model="view.comision" ng-minlength="1" ng-maxlength="18" ng-pattern="/^(\d+|\d+.\d{1,2})$/" class="form-control" placeholder="Comision" required/>
                        <span class="input-group-addon" ng-if="view.tipoComision == 'porcentual'">%</span>
                        <span class="input-group-addon" ng-if="view.tipoComision == 'fijo'"></span>
                      </div>
                      <div ng-show="form.comision.$invalid && (control.submitted || form.comision.$dirty)">
                        <p class="help-block" ng-show="form.comision.$error.required">
                          Ingrese comision.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label style="color: blue; margin-top: 10px">RESUMEN</label>
                      <kbd style="display: block;margin-top: 1px;">
                        <p>
                          Monto a Girar:
                          <span ng-bind="getTipoMoneda().simbolo"></span>
                          <span ng-bind="transaccion.monto | currency : ''"/>
                        </p>
                        <p>
                          Monto por Comisi&oacute;n:
                          <span ng-bind="getTipoMoneda().simbolo"></span>
                          <span ng-bind="transaccion.comision | currency : ''"/>
                        </p>
                        <p>
                          Total a Recibir por Giro:
                          <span ng-bind="getTipoMoneda().simbolo"></span>
                          <span ng-bind="transaccion.total | currency : ''"/>
                        </p>
                      </kbd>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="buttonDisableState()" ladda="control.inProcess" data-style="expand-right">Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>

              </div>
            </div>
          </div>
        </div>
      </form>

    </div>

  </div>

</fieldset>
