<fieldset ng-controller="EditarTransaccionGiroController">
  <legend>VOUCHER TRANSACCION GIRO</legend>

  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind="alert.msg"></span>
  </alert>


  <div class="row">
    <div class="col-sm-8">

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style="font-weight: bold;">Detalle Giro</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Ordenante</label>
                    <p>
                      <span ng-bind="giro.numeroDocumentoEmisor"></span>&nbsp;
                      <span ng-bind="giro.clienteEmisor"></span>
                    </p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Beneficiario</label>
                    <p>
                      <span ng-bind="giro.numeroDocumentoReceptor"></span>&nbsp;
                      <span ng-bind="giro.clienteReceptor"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Agencia Origen</label>
                    <p>
                      <span ng-bind="giro.agenciaOrigen.denominacion"></span>
                    </p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Agencia Destino</label>
                    <p>
                      <span ng-bind="giro.agenciaDestino.denominacion"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Fecha</label>
                    <p>
                      <span ng-bind="giro.fecha | date: 'dd/MM/yyyy'"></span>
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Hora</label>
                    <p>
                      <span ng-bind="giro.fecha | date: 'HH:mm:ss'"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Moneda</label>
                    <p>
                      <span ng-bind="giro.moneda.denominacion"></span>
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Monto</label>
                    <p>
                      <span ng-bind="giro.moneda.simbolo"></span>
                      <span ng-bind="giro.monto | currency: ''"></span>
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Estado</label>
                    <p>
                      <span ng-bind="giro.estado"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Comision</label>
                    <p>
                      <span ng-bind="giro.comision | currency: ''"></span>
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Lugar pago comision</label>
                    <p>
                      <span ng-bind="giro.lugarPagoComision"></span>
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Estado comision</label>
                    <p>
                      <span ng-if="giro.estadoPagoComision">PAGADO</span>
                      <span ng-if="!giro.estadoPagoComision">NO PAGADO</span>
                    </p>
                  </div>
                </div>
              </div>

              <button type="button" class="btn btn-default btn-primary" ng-if="giro.estado == 'ENVIADO'" ng-click="desembolsar()">Desembolsar</button>
              <button type="button" class="btn btn-default btn-danger" ng-if="giro.estado == 'ENVIADO'" ng-click="extornar()">Extornar</button>
              <button type="button" class="btn btn-default btn-success" ng-if="giro.estado != 'EXTORNADO'" ng-click="imprimir()">Voucher</button>
              <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</fieldset>
