<fieldset ng-controller="EditarTransaccionSobreGiroController">
  <legend style="font-size: 16px;">VOUCHER TRANSACCION SOBRE GIRO</legend>

  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind="alert.msg"></span>
  </alert>


  <div class="row">
    <div class="col-sm-7">

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center;">
                <label><strong>CASA DE CAMBIOS VENTURA</strong></label><br />
                <label>TRANSACCION SOBRE GIRO</label>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Documento</label>
                    <p ng-show="sobregiro.personaNatural">
                      <span ng-bind-template="{{sobregiro.personaNatural.tipoDocumento.abreviatura}}:{{sobregiro.personaNatural.numeroDocumento}}"></span>
                    </p>
                    <p ng-show="sobregiro.personaJuridica">
                      <span ng-bind-template="{{sobregiro.personaJuridica.tipoDocumento.abreviatura}}:{{sobregiro.personaJuridica.numeroDocumento}}"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Cliente</label>
                    <p ng-show="sobregiro.personaNatural">
                      <span ng-bind-template="{{sobregiro.personaNatural.apellidoPaterno}} {{sobregiro.personaNatural.apellidoMaterno}}, {{sobregiro.personaNatural.nombres}}"></span>
                    </p>
                    <p ng-show="sobregiro.personaJuridica">
                      <span ng-bind="sobregiro.personaJuridica.razonSocial"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Fecha creacion</label>
                    <p>
                      <span ng-bind="sobregiro.fechaCreacion | date: 'dd/MM/yyyy'"></span>
                    </p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Fecha pago</label>
                    <p>
                      <span ng-bind="sobregiro.fechaLimitePago | date: 'dd/MM/yyyy'"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Moneda</label>
                    <p>
                      <span ng-bind="sobregiro.moneda.denominacion"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Monto</label>
                    <p>
                      <span ng-bind="sobregiro.moneda.simbolo"></span>
                      <span ng-bind="sobregiro.monto | currency: ''"></span>
                    </p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Interes</label>
                    <p>
                      <span ng-bind="sobregiro.moneda.simbolo"></span>
                      <span ng-bind="sobregiro.interes | currency: ''"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Total deuda</label>
                    <p>
                      <span ng-bind="sobregiro.moneda.simbolo"></span>
                      <span ng-bind="(sobregiro.monto + sobregiro.interes) | currency: ''"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Estado</label>
                    <p>
                      <span ng-bind="sobregiro.estado"></span>
                    </p>
                  </div>
                </div>
              </div>

              <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <input focus-on="focusFilterText" type="text" name="filterText" class="form-control" ng-model="filterOptions.filterText" autofocus>
          </div>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
        </div>
      </div>
      <table class="table table-striped table-bordered table-condensed">
        <caption>Pagos realizados a la fecha.</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Monto</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>45645</td>
            <td>01/01/1565</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Total:</td>
            <td>234234</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</fieldset>
