<div ng-controller="EditarBovedaController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        <span ng-bind-html="alert.msg"></span>
    </alert>
    <fieldset>
        <legend style="padding-bottom: 5px;">
            <div class="row">
                <div class="col-sm-6">
                    Editar Boveda
                    <span ng-if="!view.estado" class="label label-danger">Boveda Inactiva</span>
                </div>
                <div class="col-sm-6" ng-if="view.estado" style="text-align: right;font-size: 14px;">
                    <div class="btn-group">
                        <button type="button" ng-click="abrirBoveda()" ng-disabled="operaciones.changeEstadoAbierto" class="btn btn-success">Abrir</button>
                        <button type="button" ng-click="cerrarBoveda()" ng-disabled="!operaciones.changeEstadoAbierto" class="btn btn-default">Cerrar</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" ng-click="congelarBoveda()" ng-disabled="!operaciones.changeEstadoMovimiento" class="btn btn-warning">Congelar</button>
                        <button type="button" ng-click="descongelarBoveda()" ng-disabled="operaciones.changeEstadoMovimiento" class="btn btn-info">Descongelar</button>
                    </div>
                    <button type="button" class="btn btn-danger">Inactivar</button>
                </div>
            </div>
        </legend>
    </fieldset>
    <div>
        <div class="row">
            <div class="col-sm-6">
                <form name="crearBovedaForm" ng-submit="crearTransaccion()" novalidate>
                    <div class="form-group">
                        <label>Agencia</label>
                        <input type="text" ng-model="agenciaSession.denominacion" class="form-control" disabled>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : crearBovedaForm.moneda.$invalid && (control.submitted || crearBovedaForm.moneda.$dirty)}">
                        <label>Moneda</label>
                        <select focus-on="focusMoneda" name="moneda" ng-options="moneda.id as moneda.denominacion for moneda in combo.moneda" ng-model="view.idMoneda" class="form-control" required disabled>
                            <option value="">--Seleccione--</option>
                        </select>
                        <div ng-show="crearBovedaForm.moneda.$invalid && (control.submitted || crearBovedaForm.moneda.$dirty)">
                            <p class="help-block" ng-show="crearBovedaForm.moneda.$error.required">
                                Seleccione moneda.
                            </p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : crearBovedaForm.denominacion.$invalid && (control.submitted || crearBovedaForm.denominacion.$dirty)}">
                        <label>Denominaci&oacute;n</label>
                        <input name="denominacion" type="text" ng-model="view.denominacion" ng-minlength="1" ng-maxlength="40" class="form-control" placeholder="Denominacion" capitalize required/>
                        <div ng-show="crearBovedaForm.denominacion.$invalid && (control.submitted || crearBovedaForm.denominacion.$dirty)">
                            <p class="help-block" ng-show="crearBovedaForm.denominacion.$error.required">
                                Ingrese Denominaci&oacute;n.
                            </p>
                            <p class="help-block" ng-show="crearBovedaForm.denominacion.$error.minlength">
                                Minimo 1 Caracter.
                            </p>
                            <p class="help-block" ng-show="crearBovedaForm.denominacion.$error.maxlength">
                                Maximo 40 Caracteres.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Estado</label>
                        <label ng-bind="getEstadoAsString()" class="form-control" disabled></label>
                    </div>

                    <button type="submit" ladda="control.inProcess" data-style="expand-right" class="btn btn-primary">Guardar</button>
                    <button type="button" ng-click="cancelar()" class="btn btn-default">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
