<div ng-controller="EditarChequeraController">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-weight: bold;">Datos de la chequera</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Cantidad</label>
                                <span ng-bind="chequera.cantidad"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Numero inicio</label>
                                <span ng-bind="chequera.numeroInicio"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Numero fin</label>
                                <span ng-bind="chequera.numeroFin"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Fecha disponible</label>
                                <span ng-bind="chequera.fechaDisponible | date:'dd/MM/yyyy'"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Fecha expiracion</label>
                                <span ng-bind="chequera.fechaExpiracion | date:'dd/MM/yyyy'"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Estado</label>
                                <span ng-bind="chequera.estado"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <td>Numero Cheque</td>
                    <td>Estado</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in cheques | orderBy: 'numeroCheque' ">
                    <td>{{item.numeroCheque}}</td>
                    <td>{{item.estado}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>