<div ng-controller="CrearPendienteController">
  <fieldset>
    <legend>Crear Pendiente</legend>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
      {{alert.msg}}
    </alert>
    <form name="form" ng-submit="crearPendiente()" novalidate>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" ng-class="{ 'has-error' : form.boveda.$invalid && control.submitted}">
                <label>Boveda</label>
                <label style="color: brown;">(*)</label>
                <select name="boveda" ng-options="item as item.denominacion for item in combo.boveda" ng-model="combo.selected.boveda"
                        class="form-control" required autofocus>
                  <option value="">--Seleccione--</option>
                </select>

                <div ng-show="form.boveda.$invalid && control.submitted">
                  <p class="help-block" ng-show="form.boveda.$error.required">
                    Ingrese boveda.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" ng-class="{ 'has-error' : form.tipoPendiente.$invalid && control.submitted}">
                <label>Tipo Pendiente</label>
                <label style="color: brown;">(*)</label>
                <select name="tipoPendiente" ng-options="item as item.denominacion for item in combo.tipoPendiente"
                        ng-model="combo.selected.tipoPendiente" class="form-control" required>
                  <option value="">--Seleccione--</option>
                </select>

                <div ng-show="form.tipoPendiente.$invalid && control.submitted">
                  <p class="help-block" ng-show="form.tipoPendiente.$error.required">
                    Ingrese tipo pendiente.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" ng-class="{ 'has-error' : form.monto.$invalid && control.submitted}">
                <label>Monto</label>
                <label style="color: brown;">(*)</label>

                <div class="input-group">
                  <input type="text" name="monto" ng-model="view.monto" ng-minlength="1" ng-maxlength="18"
                         ng-pattern="/^(\d+|\d+.\d{1,2})$/" class="form-control" placeholder="Monto" required/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default">
                                  <span class="glyphicon glyphicon-th-list"></span>
                                </button>
                              </span>
                </div>
                <div ng-show="form.monto.$invalid && control.submitted">
                  <p class="help-block" ng-show="form.monto.$error.required">
                    Ingrese monto.
                  </p>

                  <p class="help-block" ng-show="form.monto.$error.pattern">
                    Numero invalido (Ejemplo: 99.99).
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>&nbsp;</label>
                <kbd style="display: block;margin-top: 3px;">
                  <span ng-bind="combo.selected.boveda.moneda.simbolo "/>
                  <span ng-bind="(view.monto * combo.selected.tipoPendiente.factor) | number : 2"/>
                </kbd>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10">
              <div class="form-group" ng-class="{ 'has-error' : form.observacion.$invalid && form.submitted}">
                <label>Observacion</label>
                <textarea class="form-control" rows="3" ng-model="view.observacion"></textarea>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" ng-disabled="buttonDisableState()" ladda="control.inProcess"
                  data-style="expand-right">Guardar
          </button>
          <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
        </div>


        <div class="col-sm-4" ng-if="view.load.pendienteRelacionado">

          <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center;">
              <label><strong>PENDIENTE A PAGAR</strong></label>
            </div>
            <table class="table">
              <tbody>
              <tr>
                <td style="font-size: 13px;">ID PENDIENTE:</td>
                <td style="font-size: 13px;">
                  <span ng-bind="view.load.pendienteRelacionado.id"/>
                </td>
              </tr>
              <tr>
                <td style="font-size: 13px;">MONTO PENDIENTE:</td>
                <td style="font-size: 13px;">
                  <span ng-bind="view.load.pendienteRelacionado.moneda.simbolo"/>
                  <span ng-bind="view.load.pendienteRelacionado.monto | number:2"/>
                </td>
              </tr>
              <tr>
                <td style="font-size: 13px;">TIPO PENDIENTE:</td>
                <td colspan="3" style="font-size: 13px;"><span ng-bind="view.load.pendienteRelacionado.tipoPendiente"/></td>
              </tr>
              <tr>
                <td style="font-size: 13px;">FECHA:</td>
                <td colspan="3" style="font-size: 13px;">
                  <span ng-bind="view.load.pendienteRelacionado.fecha | date : 'dd/MM/yyyy'"/>
                  <span ng-bind="view.load.pendienteRelacionado.hora | date : 'HH:mm:ss'"/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </form>
  </fieldset>
</div>
