<div ng-controller="EditarChequeraController">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" style="font-weight: bold;">Datos de la
						Chequera</h3>
				</div>
				<table class="table table-condensed">
					<tr>
						<td colspan="1" style="font-size: 12px;"><strong>Cantidad:</strong></td>
						<td colspan="3" style="font-size: 12px;"><span
							ng-bind="chequera.cantidad"></span></td>
					</tr>
					<tr>
						<td colspan="1" style="font-size: 12px;"><strong>N&#176;
								Inicio:</strong></td>
						<td colspan="1" style="font-size: 12px;"><span
							ng-bind="chequera.numeroInicio"></span></td>
						<td colspan="1" style="font-size: 12px;"><strong>N&#176;
								Fin:</strong></td>
						<td colspan="1" style="font-size: 12px;"><span
							ng-bind="chequera.numeroFin"></span></td>
					</tr>
					<tr>
						<td colspan="1" style="font-size: 12px;"><strong>Fecha
								Apertura:</strong></td>
						<td colspan="1" style="font-size: 12px;"><span
							ng-bind="chequera.fechaDisponible | date:'dd/MM/yyyy'"></span></td>
						<td colspan="1" style="font-size: 12px;"><strong>Fecha
								Expiraci&#243;n:</strong></td>
						<td colspan="1" style="font-size: 12px;"><span
							ng-bind="chequera.fechaExpiracion | date:'dd/MM/yyyy'"></span></td>
					</tr>
					<tr>
						<td colspan="1" style="font-size: 12px;"><strong>Estado:</strong></td>
						<td colspan="3" style="font-size: 12px;"><span
							ng-bind-template="{{chequera.estado ? 'ACTIVO' : 'INACTIVO'}}"></span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="row">
        <div class="col-sm-6">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <td style="font-size: 12px;"><strong>N&#250;mero Cheque</strong></td>
                    <td style="font-size: 12px;"><strong>Estado</strong></td>
                    <td style="font-size: 12px;"><strong>Edit</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in cheques | orderBy: 'numeroCheque' ">
                    <td style="font-size: 12px;">{{item.numeroCheque}}</td>
                    <td style="font-size: 12px;">{{item.estado}}</td>
                    <td style="text-align: center;">
                        <button type="button" class="btn btn-info btn-xs" ng-click="congelarCheque(item)" ng-if="item.estado == 'POR_COBRAR'">
                            <span class="glyphicon glyphicon-share"></span>Congelar
                        </button>
                        <button type="button" class="btn btn-info btn-xs" ng-click="descongelarCheque(item)" ng-if="item.estado == 'CONGELADO'">
                            <span class="glyphicon glyphicon-share"></span>Descongelar
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="anularCheque(item)" ng-if="item.estado == 'POR_COBRAR' || item.estado == 'CONGELADO'">
                            <span class="glyphicon glyphicon-share"></span>Anular
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>