<div ng-controller="VoucherPendienteController">
    <div class="row">
        <div class="col-md-6" id="voucher">
            <div>
                <fieldset>
                    <legend>VOUCHER PENDIENTE</legend>
                </fieldset>
                <div class="panel panel-default" style="width: 350px;">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="text-align: center; font-weight: bold;">
                    	<label>CASA DE CAMBIOS VENTURA</label><br />
                    	<label>PENDIENTE CAJA</label>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>AGENCIA:</td>
                            <td>
                            	<span ng-bind="pendiente.agenciaAbreviatura"/>
                            </td>
                        </tr>
                        <tr>
                            <td>ID PENDIENTE:</td>
                            <td>
                            	<span ng-bind="pendiente.idPendienteCaja"/>
                            </td>
                        </tr>
                        <tr>
                            <td>TIPO PENDIENTE:</td>
                            <td><span ng-bind="pendiente.tipoPendiente"/> </td>
                        </tr>
                        <tr>
                            <td>FECHA:</td>
                            <td>
                            	<span ng-bind="pendiente.fecha | date : 'dd/MM/yyyy'"/> 
                            	<span ng-bind="pendiente.hora | date : 'HH:mm:ss'"/>
                            </td>
                        </tr>
                        <tr>
                            <td>MONEDA:</td>
                            <td><span ng-bind="pendiente.moneda.denominacion"/> </td>
                        </tr>
                        <tr>
                            <td>MONTO:</td>
                            <td><span ng-bind="pendiente.moneda.simbolo"></span><span ng-bind="pendiente.monto | number : 2"/> </td>
                        </tr>
                        <tr>
                            <td>CAJA:</td>
                            <td>
                            	<span ng-bind="pendiente.cajaDenominacion"/>
                            	<span ng-bind="(pendiente.cajaAbreviatura)"/>
                            </td>
                        </tr>
                        <tr>
                            <td>CAJERO:</td>
                            <td>
                            	<span ng-bind="pendiente.trabajador"/>
                            </td>
                        </tr>
                        <tr>
                            <td>OBSERVACION:</td>
                            <td>
                            	<span ng-bind="pendiente.observacion"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: center;">________________</td>
                            <td colspan="1" style="text-align: center;">_____________</td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: center;">JEFE DE CAJA</td>
                            <td colspan="1" style="text-align: center;">CAJERO</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-primary" ng-click="imprimir()">Imprimir</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

