<div ng-controller="VoucherTransaccionBovedaCajaController">
    <div class="row">
        <div class="col-md-5" id="voucher">
            <div>
                <fieldset>
                    <legend style="text-align: center; font-size: 18px;">{{transaccionBovedaCaja.origen == "CAJA" ? 'VOUCHER TRANSACCI&Oacute;N CAJA/BOVEDA' : 'VOUCHER TRANSACCI&Oacute;N BOVEDA/CAJA'}}</legend>
                </fieldset>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="text-align: center;">
                        <label><strong>MULTIVALORES DEL SUR</strong></label><br />
                        <label>{{transaccionBovedaCaja.origen == "CAJA" ? 'TRANSACCI&Oacute;N CAJA/BOVEDA' : 'TRANSACCI&Oacute;N BOVEDA/CAJA'}}</label>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        <tr>
                            <td colspan="1">AGENCIA:</td>
                            <td colspan="3">
                                <span ng-bind="transaccionBovedaCaja.agenciaAbreviatura"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">N&deg; TRANS:</td>
                            <td colspan="3">
                                <span ng-bind="transaccionBovedaCaja.id"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">ORIGEN:</td>
                            <td colspan="3">
                                <span ng-bind="transaccionBovedaCaja.origenTransaccion"/>
                            </td >
                        </tr>
                        <tr>
                            <td colspan="1">DESTINO:</td>
                            <td colspan="3">
                                <span ng-bind="transaccionBovedaCaja.destinoTransaccion"/>
                            </td >
                        </tr>
                        <tr>
                            <td colspan="1">FECHA:</td>
                            <td colspan="3">
                                <span ng-bind="transaccionBovedaCaja.fecha | date : 'dd/MM/yyyy'"/>
                                <span ng-bind="transaccionBovedaCaja.hora | date : 'HH:mm:ss'"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">MONEDA:</td>
                            <td colspan="3">
                                <span ng-bind="transaccionBovedaCaja.moneda.denominacion"/>
                                <span ng-bind="'(' + transaccionBovedaCaja.moneda.simbolo + ')'"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">MONTO:</td>
                            <td colspan="3" style="text-align: left;">
                                <span ng-bind="transaccionBovedaCaja.moneda.simbolo"></span>
                                <span ng-bind="transaccionBovedaCaja.monto | number : 2"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">ESTADO SOLICITUD:</td>
                            <td colspan="2" style="text-align: left;">
                                <span>{{transaccionBovedaCaja.estadoSolicitud ? 'SOLICITADO' : 'CANCELADO'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">ESTADO CONFIRMACI&Oacute;N:</td>
                            <td colspan="2" style="text-align: left;">
                                <span>{{transaccionBovedaCaja.estadoConfirmacion ? 'CONFIRMADO' : 'NO CONFIRMADO'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center; font-size: 12px">
                                <p>&nbsp;</p>
                                <p>Verifique su dinero antes de retirarse de ventanilla.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-success" ng-click="imprimir()">Imprimir</button>
                <button type="button" class="btn btn-primary" ng-click="salir()">Continuar »</button>
            </div>
        </div>
    </div>
</div>
