<div ng-controller="VoucherTransaccionChequeController">
    <div class="row">
        <div class="col-md-5" id="voucher">
            <div>
                <fieldset>
                    <legend style="text-align: center; font-size: 16px;">VOUCHER TRANSACCION CHEQUE</legend>
                </fieldset>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="text-align: center;">
                        <label><strong>C.A.C. CAJA VENTURA</strong></label><br />
                        <label ng-bind="transaccion.tipoTransaccion"></label>
                        <label>&nbsp;CUENTA&nbsp;CORRIENTE</label>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>AGENCIA:</td>
                            <td>
                                <span ng-bind="transaccion.agenciaAbreviatura"/>
                            </td>
                            <td>N&deg; TRANS:</td>
                            <td>
                                <span ng-bind="transaccion.idTransaccionBancaria"/>
                            </td>
                        </tr>
                        <tr>
                            <td>CAJA:</td>
                            <td>
                                <span ng-bind="transaccion.cajaDenominacion"/>
                                <span ng-bind="'(' + transaccion.cajaAbreviatura + ')'"/>
                            </td >
                            <td>N&deg; OP:</td>
                            <td>
                                <span ng-bind="transaccion.numeroOperacion"/>
                            </td>
                        </tr>
                        <tr>
                            <td>FECHA:</td>
                            <td colspan="3">
                                <span ng-bind="transaccion.fecha | date : 'dd/MM/yyyy'"/>
                                <span ng-bind="transaccion.hora | date : 'HH:mm:ss'"/>
                            </td>
                        </tr>
                        <tr>
                            <td>CUENTA:</td>
                            <td colspan="3"><span ng-bind="transaccion.numeroCuenta"/> </td>
                        </tr>
                        <tr>
                            <td>SOCIO:</td>
                            <td colspan="3">
                                <span ng-bind="transaccion.socio"/>
                            </td>
                        </tr>
                        <tr>
                            <td>MONEDA:</td>
                            <td colspan="3"><span ng-bind="transaccion.moneda.denominacion"/>
                                <span ng-bind="'(' + transaccion.moneda.simbolo + ')'"/>
                            </td>
                        </tr>
                        <tr>
                            <td>OBS.:</td>
                            <td colspan="3">
                                <span ng-bind="transaccion.observacion"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">IMPORTE PAGADO:</td>
                            <td colspan="2" style="text-align: right;">
                                <span ng-bind="transaccion.moneda.simbolo"></span>
                                <span ng-bind="transaccion.monto | number : 2"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center; font-size: 12px">
                                <p>&nbsp;</p>
                                <p>Verifique su dinero antes de retirarse de ventanilla.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-success" ng-click="imprimir()">Imprimir</button>
                <button type="button" class="btn btn-primary" ng-click="salir()">Continuar »</button>
            </div>
        </div>
    </div>
</div>



<div class="module-title">
    <h2 class="title">Características del sistema<span class="rt-title-tag">Provee las herramientas que necesitarás para usar adecuadamente tu sistema.</span></h2>
</div>
<div class="gantry-width-block gantry-width-33">
    <div class="gantry-width-spacer">
        <div class="rt-feature-item">
            <div class="rt-arrow-right"> </div>
            <h4 class="rt-uppercase">MVC front end</h4>
            <p><img src="images/logo/angularjs.png" alt="angularjs logo" width="383" height="108" /></p>
        </div>
        <div class="rt-feature-item">
            <div class="rt-arrow-right"> </div>
            <h4 class="rt-uppercase">Security system</h4>
            <p><img style="line-height: 15.8079996109009px;" src="images/logo/keycloak.png" alt="keycloak logo" /></p>
        </div>
        <div class="rt-feature-item visible-large">
            <div class="rt-arrow-right"> <span style="line-height: 1.3em;"> </span></div>
        </div>
    </div>
</div>
<div class="gantry-width-block gantry-width-33">
    <div class="gantry-width-spacer">
        <div class="rt-feature-item">
            <div class="rt-arrow-right"> </div>
            <h4 class="rt-uppercase">MVC front end</h4>
            <p><img src="images/logo/angularjs.png" alt="angularjs logo" width="383" height="108" /></p>
        </div>
        <div class="rt-feature-item">
            <div class="rt-arrow-right"> </div>
            <h4 class="rt-uppercase">Security system</h4>
            <p><img style="line-height: 15.8079996109009px;" src="images/logo/keycloak.png" alt="keycloak logo" /></p>
        </div>
        <div class="rt-feature-item visible-large">
            <div class="rt-arrow-right"> <span style="line-height: 1.3em;"> </span></div>
        </div>
    </div>
</div>
<div class="gantry-width-block gantry-width-33">
    <div class="gantry-width-spacer">
        <div class="rt-feature-item">
            <div class="rt-arrow-right"> </div>
            <h4 class="rt-uppercase">MVC front end</h4>
            <p><img src="images/logo/angularjs.png" alt="angularjs logo" width="383" height="108" /></p>
        </div>
        <div class="rt-feature-item">
            <div class="rt-arrow-right"> </div>
            <h4 class="rt-uppercase">Security system</h4>
            <p><img style="line-height: 15.8079996109009px;" src="images/logo/keycloak.png" alt="keycloak logo" /></p>
        </div>
        <div class="rt-feature-item visible-large">
            <div class="rt-arrow-right"> <span style="line-height: 1.3em;"> </span></div>
        </div>
    </div>
</div>
