<div ng-controller="CrearSucursalController">
    <div class="row">
        <div class="col-sm-12">
            <h3>Nueva sucursal</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form name="crearSucursalForm" ng-submit="crearTransaccion()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : crearSucursalForm.denominacion.$invalid && (control.submitted || crearSucursalForm.denominacion.$dirty)}">
                    <label>Denominacion</label>
                    <input focus-on="focusDenominacion" name="denominacion" type="text" ng-model="view.denominacion" ng-minlength="1" ng-maxlength="40" class="form-control" placeholder="Denominacion" capitalize required/>
                    <div ng-show="crearSucursalForm.denominacion.$invalid && (control.submitted || crearSucursalForm.denominacion.$dirty)">
                        <p class="help-block" ng-show="crearSucursalForm.denominacion.$error.required">
                            Ingrese denominacion.
                        </p>
                        <p class="help-block" ng-show="crearSucursalForm.denominacion.$error.minlength">
                            Minimo 1 Caracter.
                        </p>
                        <p class="help-block" ng-show="crearSucursalForm.denominacion.$error.maxlength">
                            Maximo 40 Caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : crearSucursalForm.abreviatura.$invalid && (control.submitted || crearSucursalForm.abreviatura.$dirty)}">
                    <label>Abreviatura</label>
                    <input name="abreviatura" type="text" ng-model="view.abreviatura" ng-minlength="1" ng-maxlength="10" class="form-control" placeholder="Abreviatura" capitalize required/>
                    <div ng-show="crearSucursalForm.abreviatura.$invalid && (control.submitted || crearSucursalForm.abreviatura.$dirty)">
                        <p class="help-block" ng-show="crearSucursalForm.abreviatura.$error.required">
                            Ingrese denominacion.
                        </p>
                        <p class="help-block" ng-show="crearSucursalForm.abreviatura.$error.minlength">
                            Minimo 1 Caracter.
                        </p>
                        <p class="help-block" ng-show="crearSucursalForm.abreviatura.$error.maxlength">
                            Maximo 10 Caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Estado</label>
                    <input type="text" value="Activo" class="form-control" disabled>
                </div>

                <button type="submit" ladda="control.inProcess" data-style="expand-right" class="btn btn-primary">Guardar</button>
                <button type="button" ng-click="cancelar()" class="btn btn-default">Cancelar</button>
            </form>
        </div>
    </div>
</div>