<div ng-controller="VoucherTransaccionEntidadBovedaController">
    <div class="row">
        <div class="col-md-5" id="voucher">
            <div>
                <fieldset>
                    <legend style="text-align: center; font-size: 16px;">VOUCHER TRANSACCION ENTIDAD/BOVEDA</legend>
                </fieldset>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="text-align: center;">
                        <label><strong>C.A.C. CAJA VENTURA</strong></label><br />
                        <label>TRANSACCION ENTIDAD/BOVEDA</label>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        <tr>
                            <td colspan="1">AGENCIA:</td>
                            <td colspan="3">
                                <span ng-bind="objetosCargados.transaccion.agenciaDenominacion"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">N&deg; TRANS:</td>
                            <td colspan="3">
                                <span ng-bind="objetosCargados.transaccion.id"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">TIPO TRANS.:</td>
                            <td colspan="3">
                                <span ng-bind="objetosCargados.transaccion.tipoTransaccion"/>
                            </td >
                        </tr>
                        <tr>
                            <td colspan="1">FECHA:</td>
                            <td colspan="3">
                                <span ng-bind="objetosCargados.transaccion.fecha | date : 'dd/MM/yyyy'"/>
                                <span ng-bind="objetosCargados.transaccion.hora | date : 'HH:mm:ss'"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">MONTO:</td>
                            <td colspan="3" style="text-align: left;">
                                <span ng-bind="objetosCargados.transaccion.moneda.simbolo"></span>
                                <span ng-bind="objetosCargados.transaccion.monto | number : 2"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">BOVEDA:</td>
                            <td colspan="3">
                                <span ng-bind="objetosCargados.transaccion.bovedaDenominacion"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">ENTIDAD:</td>
                            <td colspan="3">
                                <span ng-bind="objetosCargados.transaccion.entidad"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">ESTADO:</td>
                            <td colspan="2" style="text-align: left;">
                                <span ng-cloak>{{objetosCargados.transaccion.estado ? 'ACTIVO' : 'INACTIVO'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center; font-size: 12px">
                                <p>&nbsp;</p>
                                <p>Verifique su dinero antes de retirarse de ventanilla.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-success" ng-click="imprimir()">Imprimir</button>
                <button type="button" class="btn btn-primary" ng-click="salir()">Continuar »</button>
            </div>
        </div>
    </div>
</div>