<div ng-controller="VoucherCerrarBoveda">
    <div class="row">
        <div class="col-md-5" id="voucher">
            <div>
                <fieldset>
                    <legend style="text-align: center; font-size: 16px;">VOUCHER CERRAR BOVEDA</legend>
                </fieldset>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="text-align: center;">
                        <label><strong>CASA DE CAMBIOS VENTURA</strong></label><br />
                        <label>DETALLE CIERRE BOVEDA</label>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        <tr>
                            <td colspan="1">AGENCIA:</td>
                            <td colspan="3">
                                <span ng-bind="cerrarBovedaVoucher.agenciaDenominacion"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">BOVEDA:</td>
                            <td colspan="3">
                                <span ng-bind="cerrarBovedaVoucher.boveda"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">MONEDA:</td>
                            <td colspan="3" style="text-align: left;">
                                <span ng-bind="cerrarBovedaVoucher.moneda.denominacion"></span>
                                <label>(</label>
                                <span ng-bind="cerrarBovedaVoucher.moneda.simbolo"></span>
                                <label>)</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">FECHA APERTURA:</td>
                            <td colspan="3">
                                <span ng-bind="cerrarBovedaVoucher.fechaApertura | date : 'dd/MM/yyyy'"/>
                                <span ng-bind="cerrarBovedaVoucher.horaApertura | date : 'HH:mm:ss'"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">FECHA CIERRE:</td>
                            <td colspan="3">
                                <span ng-bind="cerrarBovedaVoucher.fechaCierre | date : 'dd/MM/yyyy'"/>
                                <span ng-bind="cerrarBovedaVoucher.horaCierre | date : 'HH:mm:ss'"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">TRABAJADOR:</td>
                            <td colspan="3">
                                <span ng-bind="cerrarBovedaVoucher.trabajador"/>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="1">TOTAL BOVEDA:</td>
                            <td colspan="3" style="text-align: left;">
                                <span ng-bind="cerrarBovedaVoucher.moneda.simbolo"></span>
                                <span ng-bind="cerrarBovedaVoucher.TotalCierreBoveda | number : 2"/>
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="4" style="text-align: center; font-size: 12px">
                                <p>&nbsp;</p>
                                <p>Verifique cantidad de dinero en boveda.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-success" ng-click="imprimir()">Imprimir</button>
                <button type="button" class="btn btn-primary" ng-click="salir()">Continuar »</button>
            </div>
        </div>
    </div>
</div>