<div ng-controller="CrearTransaccionBovedaCajaController">
    <fieldset>
        <legend>Transacci&oacute;n Boveda - Caja</legend>

        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

        <form name="formCrearTransaccionBovedaCaja" ng-submit="crearTransaccion()" novalidate>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : formCrearTransaccionBovedaCaja.caja.$invalid && control.submitted}">
                        <label>Caja</label>
                        <label style="color: brown;">(*)</label>
                        <select focus-on="focusCaja" name="caja" ng-change="loadBovedas()" ng-options="caja.id as caja.denominacion for caja in combo.cajas" ng-model="view.idCaja" class="form-control" required autofocus>
                        	<option value="">--Seleccione--</option>
                        </select>
                        <div ng-show="formCrearTransaccionBovedaCaja.caja.$invalid && control.submitted">
                            <p class="help-block" ng-show="formCrearTransaccionBovedaCaja.caja.$error.required">
                                Ingrese Caja.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : formCrearTransaccionBovedaCaja.boveda.$invalid && control.submitted}">
                        <label>Boveda</label>
                        <label style="color: brown;">(*)</label>
                        <select focus-on="focusBoveda" name="boveda" ng-options="boveda.id as boveda.denominacion for boveda in combo.boveda" ng-model="view.idBoveda" class="form-control" required autofocus>
                        	<option value="">--Seleccione--</option>
                        </select>
                        <div ng-show="formCrearTransaccionBovedaCaja.boveda.$invalid && control.submitted">
                            <p class="help-block" ng-show="formCrearTransaccionBovedaCaja.boveda.$error.required">
                                Ingrese Boveda.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label>Detalle de Transacci&oacute;n</label>
						<table class="table table-striped table-bordered table-condensed"
							style="width: 90%;">
							<thead>
								<tr>
									<th>Denominaci&oacute;n</th>
									<th>Cantidad</th>
									<th>Subtotal</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="detalle in objetosCargados.detalles">
									<td style="width: 10%;"><span
										ng-bind="detalle.valor | currency: getBoveda().moneda.simbolo" />
									</td>
									<td style="width: 10%;"><ng-form name="cantidadForm">
										<div class="form-group"
											ng-class="{ 'has-error' : cantidadForm.cantidad.$invalid && control.submitted}"
											style="margin-bottom: 0px;">
											<input type="number" name="cantidad"
												ng-model="detalle.cantidad" class="form-control" required
												style="height: 27px; padding: 0px 12px; width: 100px" />
											<div
												ng-show="cantidadForm.cantidad.$invalid && control.submitted">
												<p class="help-block"
													ng-show="cantidadForm.cantidad.$error.required"
													style="font-size: 12px;">Ingrese Cantidad.</p>
											</div>
										</div>
										</ng-form></td>
									<td style="width: 15%;"><span>{{detalle.valor *
											detalle.cantidad | currency: getBoveda().moneda.simbolo}}</span></td>
								</tr>
							</tbody>
							<tfoot>
								<tr ng-class="{'danger': totalTransaccion() == 0 || totalTransaccion() === undefined}">
									<td colspan="2" style="font-weight: bold;">Total
										Transacci&oacute;n: <span
										ng-bind="totalTransaccion() | currency : getBoveda().moneda.simbolo"></span>
									</td>
									<td ng-show="totalTransaccion() == 0 || totalTransaccion() === undefined"
										style="color: #a94442;">Invalido</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label>Cantidad Disponible en Boveda</label>
						<table class="table table-striped table-bordered table-condensed"
							style="width: 90%;">
							<thead>
								<tr>
									<th>Denominaci&oacute;n</th>
									<th>Cantidad</th>
									<th>Subtotal</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="detalleActual in objetosCargados.detalleDisponible">
									<td style="width: 10%;"><span
										ng-bind="detalleActual.valor | currency: getBoveda().moneda.simbolo" />
									</td>
									<td style="width: 10%;"><ng-form name="cantidadFormActual">
										<div class="form-group"
											ng-class="{ 'has-error' : cantidadFormActual.cantidad.$invalid && control.submitted}"
											style="margin-bottom: 0px;">
											<input type="number" name="cantidad"
												ng-model="detalleActual.cantidad" class="form-control" required disabled="disabled"
												style="height: 27px; padding: 0px 12px; width: 100px; color: blue;" />
											<div
												ng-show="cantidadFormActual.cantidad.$invalid && control.submitted">
												<p class="help-block"
													ng-show="cantidadFormActual.cantidad.$error.required"
													style="font-size: 12px;">Ingrese Cantidad.</p>
											</div>
										</div>
										</ng-form>
									</td>
									<td style="width: 15%;"><span>{{detalleActual.valor *
											detalleActual.cantidad | currency: getBoveda().moneda.simbolo}}</span></td>
								</tr>
							</tbody>
							<tfoot>
								<tr ng-class="{'danger': totalDisponibleBoveda() == 0 || totalDisponibleBoveda() === undefined}">
									<td colspan="2" style="font-weight: bold;">Total
										Boveda: <span
										ng-bind="totalDisponibleBoveda() | currency : getBoveda().moneda.simbolo"></span>
									</td>
									<td ng-show="totalDisponibleBoveda() === undefined"
										style="color: #a94442;">Invalido</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
            
            <button type="submit" class="btn btn-primary" ladda="control.inProcess" data-style="expand-right">Guardar</button>
            <button type="button" ng-click="cancelar()" class="btn btn-default">Cancelar</button>
        </form>
    </fieldset>

</div>